In [1]:
import pandas as pd 
import numpy as np

Question 1

In [2]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [3]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
fuel_data = pd.read_csv('hamoye_fuel_data.csv')
# fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
# fuel_data

In [6]:
average_fuelcost_burned = fuel_data.groupby('fuel_type_code_pudl')[['fuel_cost_per_unit_burned']].mean()
average_fuelcost_burned

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 67.421830
gas                                  13.659397
nuclear                            4955.157002
oil                                 168.877086
other                                18.253856
waste                                19.518122

Question 4

In [7]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

In [9]:
from scipy.stats import kurtosis
from scipy.stats import skew

In [10]:
fuel_burned = fuel_data['fuel_qty_burned'] 
print(f'The skewness of fuel quantity burned is : {skew(fuel_burned):.2f}')
print(f'The kurtosis of fuel quantity burned is : {kurtosis(fuel_burned):.2f}')

The skewness of fuel quantity burned is : 15.85
The kurtosis of fuel quantity burned is : 651.26

Question 6

In [11]:
fuel_data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
percentage = f'{(1 / 11) * 100:.3f}'
print(percentage)

9.091

Question 8

In [15]:
corr = fuel_data.corr()
corr['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

In [16]:
# select the data from DF where fuel type is coal
coal_data = fuel_data[fuel_data["fuel_type_code_pudl"] == "coal"]

In [17]:
#average cost of fuelburned in year 1994 and 1998
fuel_cost_1994 = coal_data[coal_data["report_year"] == 1994].fuel_cost_per_unit_burned.mean()

fuel_cost_1998 = coal_data[coal_data["report_year"] == 1998].fuel_cost_per_unit_burned.mean()

In [19]:
# find percentage change
print(f'The percentage change of fuel cost per unit burned in 1998 by 1994 is : {(fuel_cost_1998 / fuel_cost_1994) * 100}')

The percentage change of fuel cost per unit burned in 1998 by 1994 is : 87.54144803671988

Question 10

In [20]:
fuel_data.groupby("report_year").agg({'fuel_cost_per_unit_delivered':'mean'})

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966